<section>
  <form [formGroup]="registrationForm" (ngSubmit)="onSubmit()">
    <mat-form-field>
      <mat-label>Username</mat-label>
      <input matInput placeholder="username" formControlName="username" />
      @if (registrationForm.get("username")?.invalid) {
        <mat-error>Error</mat-error>
      }
    </mat-form-field>

    <mat-form-field>
      <mat-label>Email</mat-label>
      <input
        matInput
        [type]="'email'"
        placeholder="pat@example.com"
        formControlName="email"
        required
      />
      @if (registrationForm.get("email")?.invalid) {
        <mat-error>{{ registrationForm.get("email")?.errors }}</mat-error>
      }
    </mat-form-field>

    <mat-form-field>
      <mat-label>Password</mat-label>
      <input matInput [type]="'password'" formControlName="password" required />
      @if (registrationForm.get("password")?.invalid) {
        <mat-error>Error</mat-error>
      }
    </mat-form-field>

    <mat-form-field>
      <mat-label>Confirm password</mat-label>
      <input
        matInput
        [type]="'password'"
        formControlName="confirmPassword"
        required
      />
      @if (registrationForm.get("confirmPassword")?.invalid) {
        <mat-error>Error</mat-error>
      }
    </mat-form-field>

    <mat-form-field>
      <mat-label>Enter your full name</mat-label>
      <input matInput placeholder="fullname" formControlName="fullname" />
      @if (registrationForm.get("fullname")?.invalid) {
        <mat-error>Error</mat-error>
      }
    </mat-form-field>

    <br />
    <button type="submit" mat-flat-button>Submit</button>
  </form>

  @if (backendSuccessMessage()) {
    <div>{{ backendSuccessMessage() }}</div>
  }

  @if (backendError()) {
    <div id="errorsBlock" class="flex flex-col text-red-700">
      <div>{{ backendError() }}</div>
    </div>
  }
</section>
