<section>
  <form [formGroup]="registrationForm" (ngSubmit)="onSubmit()">
    <mat-form-field>
      <mat-label>Username</mat-label>
      <input
        matInput
        placeholder="username"
        [type]="'text'"
        formControlName="username"
        required
      />
      @for (usernameError of usernameErrors; track usernameError + "") {
        <mat-error>{{ usernameError }}</mat-error>
      }
    </mat-form-field>

    <mat-form-field>
      <mat-label>Email</mat-label>
      <input
        matInput
        [type]="'email'"
        placeholder="pat@example.com"
        formControlName="email"
        required
      />
      @for (emailError of emailErrors; track emailError + "") {
        <mat-error>{{ emailError }}</mat-error>
      }
    </mat-form-field>

    <mat-form-field>
      <mat-label>Password</mat-label>
      <input matInput [type]="'password'" formControlName="password" required />
      @for (passwordError of passwordErrors; track passwordError + "") {
        <mat-error>{{ passwordError }}</mat-error>
      }
    </mat-form-field>

    <mat-form-field>
      <mat-label>Confirm password</mat-label>
      <input
        matInput
        [type]="'password'"
        formControlName="confirmPassword"
        required
      />
      @for (
        confirmPasswordError of confirmPasswordErrors;
        track confirmPasswordError + ""
      ) {
        <mat-error>{{ confirmPasswordError }}</mat-error>
      }
    </mat-form-field>

    <mat-form-field>
      <mat-label>Enter your full name</mat-label>
      <input
        matInput
        placeholder="fullname"
        formControlName="fullname"
        [type]="'text'"
      />
    </mat-form-field>

    <br />
    <button type="submit" mat-flat-button [disabled]="registrationForm.invalid">
      Submit
    </button>
  </form>

  @if (backendSuccessMessage()) {
    <div>{{ backendSuccessMessage() }}</div>
  }

  @if (backendError()) {
    <div id="errorsBlock" class="flex flex-col text-red-700">
      <div>{{ backendError() }}</div>
    </div>
  }
</section>
